table {
  width: 100%;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.cvNumber{
  background: 0 0;
  outline: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.42);
}
.select-option {
  width: 100%;
  right: 0;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgba(0,0,0,.42);
}
.label-name {
  white-space: nowrap;
}
table {
  table-layout: fixed !important;
  background-color: white;
  min-width: 650px;

  .mright-1 {
    margin-right: 1rem;
  }

  th,
  td {
    padding: 0.4rem !important;
  }

  tr {
    cursor: pointer;

    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      div {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:nth-child(1) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: left;
      }

      &:nth-child(4) {
        text-align: center;
      }

      &:nth-child(5) {
        text-align: center;
      }

      &:nth-child(7) {
        text-align: center;
      }

      &:nth-child(8) {
        text-align: center;
      }

      &:nth-child(9) {
        text-align: center;
      }

      &:nth-child(12) {
        text-align: center;
      }

      &:last-child {
        text-align: center;
      }

    }

    th {
      text-align: center;
      vertical-align: middle;
      border: #f1f7ff;

      &:nth-child(1) {
        width: 40px !important;
      }

      &:nth-child(2) {
        width: 100px !important;
      }

      &:nth-child(3) {
        width: 200px !important;
      }

      &:nth-child(4) {
        width: 80px !important;
      }

      &:nth-child(5) {
        width: 80px !important;
      }

      &:nth-child(6) {
        width: 100px !important;
      }

      &:nth-child(7) {
        width: 80px !important;
      }

      &:nth-child(8) {
        width: 80px !important;
      }

      &:nth-child(9) {
        width: 150px !important;
      }

      &:nth-child(10) {
        width: 110px !important;
      }

      &:nth-child(12) {
        width: 110px !important;
      }

      &:last-child {
        width: 80px !important;
      }
    }
  }
}
