.card-body {
  min-height: 393px;
}
.date-picker-custom {
  justify-content: flex-end;
  display: flex;
}
.menu-option {
  display: flex;
  justify-content: space-between;
}
.select-option {
  width: 100%;
  right: 0;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgba(0,0,0,.42);
}
.example-events {
  width: 400px;
  height: 200px;
  border: 1px solid #555;
  overflow: auto;
}
